name: Copilot Setup Steps

on:
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  workflow_dispatch: ~

jobs:
  copilot-setup-steps:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/prepare
      - run: pnpm build
